.favoritesWrapper {
  padding-bottom: 50px;
}

.empty {
  font-size: 16px;
  color: #191a15;
  font-weight: 500;
  font-style: regular;
  line-height: 20px;
  letter-spacing: -1%;
  margin-top: 30px;
  margin-left: 160px;
}

.loadMore {
  width: 176px;
  height: 48px;
  background-color: #54be96;
  color: #fbfbfb;
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -1%;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 670px;
}

.loadMore:hover {
  background-color: #36a379;
}

@media (max-width: 1024px) {
  .empty {
    margin-left: 20px;
  }

  .loadMore {
    margin: 0 auto;
    max-width: 176px;
  }
}

@media (max-width: 767px) {
  .empty {
    margin-left: 20px;
  }

  .loadMore {
    margin: 0 auto;
    max-width: 176px;
  }
}

@media (max-width: 320px) {
  .empty {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
    padding: 0 10px;
    font-size: 14px;
  }

  .loadMore {
    margin: 20px auto 0 auto;
    width: 100%;
    max-width: 176px;
    height: 44px;
    font-size: 14px;
  }
}
